<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Server.example.VoluntaryReporting.mapper.SchoolChooseMapper">


    <select id="searchCntBySId" resultType="int" parameterType="int">
        SELECT COUNT(s.order) FROM schoolchose s WHERE sId = #{sId}
    </select>

    <insert id="insertChoose" parameterType="Server.example.VoluntaryReporting.entity.SchoolChoose">
        INSERT INTO schoolchose(sId,proId1,proId2,proId3,proId4,`order`,acceptAdjust)
        VALUES (#{sId},#{proId1},#{proId2},#{proId3},#{proId4},#{order},#{acceptAdjust})
    </insert>

    <select id="findBySId" parameterType="int" resultType="Server.example.VoluntaryReporting.entity.SchoolChoose">
        SELECT  sc.* , uni.uId as uniId FROM schoolchose sc
        inner join university uni ON (SELECT p.schId FROM professional p WHERE p.proId = sc.proId1 ) = uni.uId
        WHERE sId = #{sId} ORDER BY sc.`order`
    </select>
    <delete id="deleteAll">
        DELETE FROM schoolchoose
    </delete>
</mapper>