<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Server.example.VoluntaryReporting.mapper.UniverSityMapper">

    <resultMap id="UniMap" type="Server.example.VoluntaryReporting.entity.UniverSity">
        <result column="uId" property="uId"/>
        <result column="uName" property="uName" javaType="String"/>
    <!-- 查询该学校的所有专业       -->
        <collection property="professionals" ofType="Server.example.VoluntaryReporting.entity.Professional">
            <result column="proId" property="proId"/>
            <result column="proName" property="proName" javaType="java.lang.String"/>
            <result column="forecastScore" property="forecastScore"/>
            <result column="maxCnt" property="maxCnt"/>
            <result column="curCnt" property="curCnt"/>
            <result column="minScore" property="minScore"/>
            <result column="uId" property="uId"/>
        </collection>
    </resultMap>


    <select id="findById" parameterType="int" resultMap="UniMap">
        <!--  右连接显示没有专业的学校      -->
        SELECT u.*,p.* from professional p RIGHT JOIN university u ON p.schId = u.uId WHERE  u.uId =#{uId}
    </select>

    <select id="findByName" parameterType="String" resultMap="UniMap">
        SELECT u.*,p.* from professional p RIGHT JOIN university u ON p.schId = u.uId WHERE u.uName = #{uName}
    </select>

    <select id="findAll" resultMap="UniMap">
        SELECT u.*,p.* from professional p RIGHT JOIN university u ON p.schId = u.uId
    </select>
    
    <insert id="addUniverSity" parameterType="Server.example.VoluntaryReporting.entity.UniverSity">
        insert into university(uName) VALUES(#{uName})
    </insert>

    <update id="update" parameterType="Server.example.VoluntaryReporting.entity.UniverSity">
        UPDATE university SET uName = #{uName}
        WHERE uId = #{uId}
    </update>

</mapper>